<div class="login-container">
  <mat-card class="login-card">
    <div class="login-image">
      <img
        src="https://img.freepik.com/vector-gratis/medios-comunicacion-social-nivel-mundial_23-2147497257.jpg?semt=ais_hybrid"
        alt="Login Illustration"
      />
    </div>
    <div class="login-form">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email" id="email" />
            <mat-error *ngIf="email?.invalid && email?.touched">
              Please enter a valid email address.
            </mat-error>
          </mat-form-field>
          <div style="height: 10px"></div>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Password</mat-label>
            <input
              matInput
              formControlName="password"
              type="password"
              id="password"
            />
            <mat-error
              *ngIf="loginForm.controls['password'].hasError('required')"
            >
              Password required
            </mat-error>
            <mat-error
              *ngIf="loginForm.controls['password'].hasError('minlength')"
            >
              Password must be at least 8 characters
            </mat-error>
            <mat-error
              *ngIf="
                !loginForm.controls['password'].hasError('minlength') &&
                loginForm.controls['password'].hasError('passwordStrength')
              "
            >
              Include lowercase, uppercase and numbers
            </mat-error>
          </mat-form-field>

          <div class="options">
            <label> <input type="checkbox" /> Remember me </label>
            <a href="#">Forgot password?</a>
          </div>

          <div class="buttons">
            <button type="submit" class="button primary">Login</button>
            <button
              type="button"
              class="button secondary"
              (click)="navigateToRegister()"
            >
              Register
            </button>
          </div>

          <div class="social-buttons">
            <button type="button" class="button google">
              <i class="fab fa-google"></i> Google
            </button>
            <button type="button" class="button facebook">
              <i class="fab fa-facebook"></i> Facebook
            </button>
          </div>
        </form>

        <div *ngIf="errorMessage" class="message error">
          {{ errorMessage }}
        </div>
        <div *ngIf="successMessage" class="message success">
          {{ successMessage }}
        </div>
      </mat-card-content>
    </div>
  </mat-card>
</div>
